.event-card-menu-wrapper {
  position: absolute;
  top: 5px;
  left: 5px;
}

.menu-button {
  width: 50px;
  height: 50px;
  border-radius: var(--border-radius);
  background: none;
  border: 0.5px solid;
  font-size: 18px;
  cursor: pointer;
}

.menu-dropdown {
  position: absolute;
  top: 40px;
  right: -25px;
  background: white;
  border-radius: 5px;
  z-index: 999;
  min-width: 100px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.menu-dropdown.hidden {
  display: none;
}

.delete-event {
  position: absolute;
  margin-top: 15px;
  top: 5px;
  left: 1px;
  border: 0.5px solid var(--border-color);
}

.update-event {
  position: absolute;
  top: 50px;
  left: 1px;
  margin-top: 15px;
  border: 0.5px solid var(--border-color);
}

.menu-dropdown button {
  width: 100%;
  padding: 6px 8px;
  border: 0.5px solid var(--border-color);
  border-radius: var(--border-radius);
  background: none;
  cursor: pointer;
}

.menu-dropdown button:hover {
  background-color: #f0f0f0;
}
