.create-event-btn {
  border-color: dodgerblue !important;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 12%;
  left: 10px;
  cursor: pointer;
  z-index: 100;
  transition: transform 0.3s ease;
}

.create-event-btn:hover {
  transform: scale(1.1);
}
